h1,
h2,
h3,
summary {
  text-align: center;
  background-color: #ca5310;
}

body {
  background-color: #4c4c4c;
}

section {
  margin: auto;
  width: 65%;

  background-color: #85c7f2;
}

.main-div {
  border-style: solid;
  border-width: 1px;
  border-color: black;

  display: flex;
  flex-wrap: wrap;

  background-color: #85c7f2;

  margin: auto;
  width: 65%;
}

.sub-div {
  list-style-position: inside;
  text-align: left;
}
